

@media screen and (max-width:480px) {
    #logo {

        display:flex;
        width:15%;
    

    }
    body{
        background-color:rgb(47, 141, 158);
        margin:0px;
    }


    .container.middle {

        display:flex;
        justify-content:center;
        gap:10px;
    }
    #hero { /*snowcone*/
        width:30%;
        
    }

    article {

        background-image: url("Snowcone.jpg");
        background-repeat:no-repeat;
        background-position:center;

        height:150px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        

    }

    #image-1{ /*snowman*/
        width:30%;
        height:10%;

    }
    #image-2{/*bigfoot*/
        width:20%;


    }
    #image-3{ /*rainy rainbow*/
        width:30%;

    }

    #navigation{
        display:flex;
        justify-content:flex-end;


    }
    h1{
        display:flex;
        justify-content:center;
    }

    h2{
        display:flex;
        justify-content:center;
    }

    
    p {
        color:whitesmoke;
        display:flex;
        justify-content:center;
    }

    #order {
        border-style: groove;
        border-radius: 5px;
        margin:5px 10px 5px 10px;
        background-color:rgb(0, 170, 192);

    }

    header{
        background-color:white;
        display:flex;
        justify-content: space-between;
        padding:10px;
        
  
    }
    
    header ul {
        display:flex;
        list-style-type: none; 
        gap: 10px;
        
    }
    footer {
        margin:5px 10px 5px 10px;
        display:flex;
        justify-content:center;
        border-style: groove;
        border-radius: 5px;

    }


}


@media screen and (min-width:480px) { 

}

@media screen and (min-width:1280px) {
    
}